@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background: #18181b;
  --app-foreground: #ffffff;
  --font-geist-sans: "Geist Sans", sans-serif;
}

body {
  color: var(--app-foreground);
  background: var(--app-background);
  font-family: var(--font-geist-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .page {
    @apply p-8 flex flex-col w-full h-screen;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
